@font-face {
  font-family: 'TelcelFont';
  src:  url('fonts/TelcelFont.eot?wgoulr');
  src:  url('fonts/TelcelFont.eot?wgoulr#iefix') format('embedded-opentype'),
    url('fonts/TelcelFont.ttf?wgoulr') format('truetype'),
    url('fonts/TelcelFont.woff?wgoulr') format('woff'),
    url('fonts/TelcelFont.svg?wgoulr#TelcelFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="io-"], [class*=" io-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TelcelFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-video:before {
  content: "\e945";
}
.io-red:before {
  content: "\e946";
}
.io-ribbon:before {
  content: "\e947";
}
.io-sms:before {
  content: "\e948";
}
.io-alarm:before {
  content: "\e949";
}
.io-premium:before {
  content: "\e94a";
}
.io-star:before {
  content: "\e944";
}
.io-404:before {
  content: "\e943";
}
.io-old-phone:before {
  content: "\e942";
}
.io-cambiar:before {
  content: "\e941";
}
.io-like-big:before {
  content: "\e940";
}
.io-barco:before {
  content: "\e93d";
}
.io-carta:before {
  content: "\e93e";
}
.io-mapa:before {
  content: "\e93f";
}
.io-upload:before {
  content: "\e93c";
  color: #02b0ef;
}
.io-lock-closed:before {
  content: "\e937";
}
.io-lock-open:before {
  content: "\e93a";
}
.io-multiple-user:before {
  content: "\e93b";
}
.io-avatar:before {
  content: "\e936";
}
.io-arrow-down:before {
  content: "\e938";
  color: #02b0ef;
}
.io-arrow-up:before {
  content: "\e939";
  color: #02b0ef;
}
.io-paginacion-fin:before {
  content: "\e927";
  color: #02b0ef;
}
.io-paginacion-init:before {
  content: "\e928";
  color: #02b0ef;
}
.io-notes:before {
  content: "\e926";
}
.io-celular:before {
  content: "\e925";
}
.io-marker:before {
  content: "\e91f";
}
.io-reloj:before {
  content: "\e920";
}
.io-ubicacion:before {
  content: "\e921";
}
.io-citas:before {
  content: "\e91a";
}
.io-notificacion-bloq:before {
  content: "\e906";
}
.io-notificacion:before {
  content: "\e912";
}
.io-gestionar-alias:before {
  content: "\e905";
}
.io-move-folder-2:before {
  content: "\e910";
}
.io-add-folder:before {
  content: "\e929";
}
.io-move-folder:before {
  content: "\e92a";
}
.io-broken-chain:before {
  content: "\e92b";
}
.io-ingresar2:before {
  content: "\e92c";
}
.io-gestionar:before {
  content: "\e92d";
}
.io-chain:before {
  content: "\e92e";
}
.io-chip-imei:before {
  content: "\e92f";
}
.io-mover-lineas:before {
  content: "\e930";
}
.io-agregar-servicios:before {
  content: "\e931";
}
.io-quitar-servicios:before {
  content: "\e932";
}
.io-reactivacion:before {
  content: "\e933";
}
.io-CallTransfer:before {
  content: "\e934";
}
.io-SuspendLine2:before {
  content: "\e935";
}
.io-ticket:before {
  content: "\e924";
}
.io-slider-left:before {
  content: "\e922";
}
.io-slider-right:before {
  content: "\e923";
}
.io-loader:before {
  content: "\e91b";
}
.io-broken-chain-2:before {
  content: "\e91e";
}
.io-ingresa-admin:before {
  content: "\e916";
}
.io-bitacora:before {
  content: "\e918";
}
.io-eliminar-admin:before {
  content: "\e919";
}
.io-telefono:before {
  content: "\e915";
}
.io-pay-telcel:before {
  content: "\e914";
}
.io-cancel:before {
  content: "\e913";
}
.io-simple-avatar:before {
  content: "\e911";
}
.io-servicios:before {
  content: "\e90f";
}
.io-buzon-inteligente:before {
  content: "\e91c";
}
.io-identificador:before {
  content: "\e91d";
}
.io-resumen:before {
  content: "\e90d";
}
.io-llamada-espera:before {
  content: "\e90e";
}
.io-info:before {
  content: "\e90b";
  color: #545454;
}
.io-ojo:before {
  content: "\e90a";
  color: #545454;
}
.io-lapiz:before {
  content: "\e90c";
}
.io-ingresar:before {
  content: "\e908";
}
.io-file:before {
  content: "\e909";
}
.io-listado:before {
  content: "\e917";
}
.io-maletin:before {
  content: "\e907";
}
.io-save-doc:before {
  content: "\e903";
}
.io-download-mte:before {
  content: "\e904";
}
.io-lista:before {
  content: "\e901";
}
.io-mosaico:before {
  content: "\e902";
}
.io-dosts-vertical:before {
  content: "\e900";
}
.io-Glossary:before {
  content: "\f902";
}
.io-Questions:before {
  content: "\f901";
}
.io-Invoice:before {
  content: "\f900";
}
.io-SpecialHardware:before {
  content: "\f70b";
}
.io-Hardware:before {
  content: "\f70a";
}
.io-BestBrands:before {
  content: "\f709";
}
.io-PlanRenta:before {
  content: "\f708";
}
.io-WiFi:before {
  content: "\f707";
}
.io-Processor:before {
  content: "\f706";
}
.io-Camera:before {
  content: "\f705";
}
.io-OsAndroid:before {
  content: "\f704";
}
.io-OsMac:before {
  content: "\f703";
}
.io-OsWindows:before {
  content: "\f702";
}
.io-Memory:before {
  content: "\f701";
}
.io-Screen:before {
  content: "\f700";
}
.io-ExtraPack:before {
  content: "\f616";
}
.io-ExtendedPlan:before {
  content: "\f615";
}
.io-AmigoPack:before {
  content: "\f614";
}
.io-Calculator:before {
  content: "\f613";
}
.io-4GLTE:before {
  content: "\f612";
}
.io-MoreInfo:before {
  content: "\f611";
}
.io-Entertainment:before {
  content: "\f610";
}
.io-OpenMail:before {
  content: "\f60f";
}
.io-Mail:before {
  content: "\f60e";
}
.io-Video:before {
  content: "\f60d";
}
.io-Music:before {
  content: "\f60c";
}
.io-Games:before {
  content: "\f60b";
}
.io-Chat:before {
  content: "\f60a";
}
.io-SocialNetwork:before {
  content: "\f609";
}
.io-SearchEngine:before {
  content: "\f608";
}
.io-PC:before {
  content: "\f607";
}
.io-USBModem:before {
  content: "\f606";
}
.io-Tablet:before {
  content: "\f605";
}
.io-Phone:before {
  content: "\f604";
}
.io-Blackberry:before {
  content: "\f603";
}
.io-Android:before {
  content: "\f602";
}
.io-Mac:before {
  content: "\f601";
}
.io-Windows:before {
  content: "\f600";
}
.io-WhatsApp:before {
  content: "\f537";
}
.io-Transfer:before {
  content: "\f536";
}
.io-iTelcel:before {
  content: "\f535";
}
.io-SuspendLine:before {
  content: "\f533";
}
.io-ChangeChargingScheme2:before {
  content: "\f532";
}
.io-ChangeChargingScheme:before {
  content: "\f531";
}
.io-ManageNumbers:before {
  content: "\f530";
}
.io-CloseSession:before {
  content: "\f52f";
}
.io-IntelligentInbox:before {
  content: "\f52e";
}
.io-InternetPackage:before {
  content: "\f52d";
}
.io-AccountDownload:before {
  content: "\f52c";
}
.io-InvoiceSummary:before {
  content: "\f52b";
}
.io-RegisterInvoice:before {
  content: "\f52a";
}
.io-Rescatel:before {
  content: "\f528";
}
.io-ThreeWayCall:before {
  content: "\f527";
}
.io-SMSMessages:before {
  content: "\f526";
}
.io-ZeroDollars:before {
  content: "\f525";
}
.io-Adaptable:before {
  content: "\f524";
}
.io-AllClients:before {
  content: "\f523";
}
.io-StopWatch:before {
  content: "\f522";
}
.io-RechargeMore:before {
  content: "\f521";
}
.io-BigBonus:before {
  content: "\f520";
}
.io-MobileInternet:before {
  content: "\f51f";
}
.io-FreeNumber:before {
  content: "\f51e";
}
.io-Compass:before {
  content: "\f51d";
}
.io-ChooseAmount:before {
  content: "\f51c";
}
.io-HardwareBargin:before {
  content: "\f51b";
}
.io-RechargeGift:before {
  content: "\f51a";
}
.io-ZeroCommitment:before {
  content: "\f519";
}
.io-KitAmigo:before {
  content: "\f518";
}
.io-RecommendPlan:before {
  content: "\f517";
}
.io-Message:before {
  content: "\f516";
}
.io-ManageBalance:before {
  content: "\f515";
}
.io-RechargeNetwork:before {
  content: "\f514";
}
.io-ExtraServices:before {
  content: "\f513";
}
.io-PasaTiempo:before {
  content: "\f512";
}
.io-Cart:before {
  content: "\f511";
}
.io-NoRedTape:before {
  content: "\f510";
}
.io-QuickBuck:before {
  content: "\f50f";
}
.io-Inburs:before {
  content: "\f50e";
}
.io-Competition:before {
  content: "\f50d";
}
.io-Membership:before {
  content: "\f50c";
}
.io-SameNumber:before {
  content: "\f50b";
}
.io-Purse:before {
  content: "\f50a";
}
.io-Radar:before {
  content: "\f509";
}
.io-World:before {
  content: "\f508";
}
.io-Roaming:before {
  content: "\f507";
}
.io-Internet:before {
  content: "\f506";
}
.io-3G:before {
  content: "\f505";
}
.io-GLTE:before {
  content: "\f504";
}
.io-City:before {
  content: "\f503";
}
.io-BestPlan:before {
  content: "\f502";
}
.io-BestHardware:before {
  content: "\f501";
}
.io-Mexico:before {
  content: "\f500";
}
.io-SameSim:before {
  content: "\f407";
}
.io-SameNumber2:before {
  content: "\f406";
}
.io-Benefits:before {
  content: "\f405";
}
.io-BestPhone:before {
  content: "\f404";
}
.io-ChoosePlan:before {
  content: "\f403";
}
.io-ChangeCompany:before {
  content: "\f402";
}
.io-InTouch:before {
  content: "\f401";
}
.io-FreeCalls:before {
  content: "\f400";
}
.io-Bin:before {
  content: "\f322";
}
.io-OpenMenu:before {
  content: "\f321";
}
.io-SpeachBubble:before {
  content: "\f320";
}
.io-Watch:before {
  content: "\f31f";
}
.io-Admin:before {
  content: "\f31e";
}
.io-ExclusivePromo:before {
  content: "\f31d";
}
.io-Bill:before {
  content: "\f31c";
}
.io-Help:before {
  content: "\f31b";
}
.io-Save:before {
  content: "\f31a";
}
.io-Contract:before {
  content: "\f319";
}
.io-Points:before {
  content: "\f318";
}
.io-Subscription:before {
  content: "\f317";
}
.io-Gaming:before {
  content: "\f316";
}
.io-Sheild:before {
  content: "\f315";
}
.io-Finance:before {
  content: "\f314";
}
.io-Talk:before {
  content: "\f313";
}
.io-Compare:before {
  content: "\f312";
}
.io-Accessories:before {
  content: "\f311";
}
.io-WifiMobil:before {
  content: "\f310";
}
.io-Modems:before {
  content: "\f30f";
}
.io-Tablets:before {
  content: "\f30e";
}
.io-Phones:before {
  content: "\f30d";
}
.io-Coins:before {
  content: "\f30c";
}
.io-Abroad:before {
  content: "\f30b";
}
.io-Learn:before {
  content: "\f30a";
}
.io-Services:before {
  content: "\f309";
}
.io-Consumption:before {
  content: "\f308";
}
.io-Promos:before {
  content: "\f307";
}
.io-Recommendation:before {
  content: "\f306";
}
.io-Plans:before {
  content: "\f305";
}
.io-Amigo:before {
  content: "\f304";
}
.io-Network:before {
  content: "\f303";
}
.io-Search:before {
  content: "\f302";
}
.io-MiTelcel:before {
  content: "\f301";
}
.io-Bag:before {
  content: "\f300";
}
.io-BaseBall:before {
  content: "\f256";
}
.io-BasketBall:before {
  content: "\f255";
}
.io-Football:before {
  content: "\f254";
}
.io-Zodiac:before {
  content: "\f253";
}
.io-Claro:before {
  content: "\f252";
}
.io-ZonaClaro:before {
  content: "\f251";
}
.io-Plugger:before {
  content: "\f250";
}
.io-Imagenes:before {
  content: "\f24f";
}
.io-ClaroVideos:before {
  content: "\f24e";
}
.io-ClaroViajes:before {
  content: "\f24d";
}
.io-ClaroSync:before {
  content: "\f24c";
}
.io-ClaroJuegos:before {
  content: "\f24b";
}
.io-ClaroDeportes:before {
  content: "\f24a";
}
.io-ClaroChat:before {
  content: "\f249";
}
.io-ClaroIdeas:before {
  content: "\f248";
}
.io-Pointer:before {
  content: "\f247";
}
.io-Gear:before {
  content: "\f246";
}
.io-Pen:before {
  content: "\f245";
}
.io-Bookmark:before {
  content: "\f244";
}
.io-FingerSwipe:before {
  content: "\f243";
}
.io-Van:before {
  content: "\f242";
}
.io-Alarm:before {
  content: "\f241";
}
.io-Notes:before {
  content: "\f240";
}
.io-HardwareSupport:before {
  content: "\f23f";
}
.io-HardwarePack:before {
  content: "\f23e";
}
.io-HardwarePrice:before {
  content: "\f23d";
}
.io-HardwareScratch:before {
  content: "\f23c";
}
.io-HardwareTool:before {
  content: "\f23b";
}
.io-HardwareZoom:before {
  content: "\f23a";
}
.io-HardwareCut:before {
  content: "\f239";
}
.io-HardwareExplode:before {
  content: "\f238";
}
.io-HardwareSmash:before {
  content: "\f237";
}
.io-HardwareWater:before {
  content: "\f236";
}
.io-HardwareShock:before {
  content: "\f235";
}
.io-Lightning:before {
  content: "\f234";
}
.io-SimpleAvatar:before {
  content: "\f233";
}
.io-TelcelLogo:before {
  content: "\f232";
}
.io-Cloud:before {
  content: "\f231";
}
.io-Key:before {
  content: "\f230";
}
.io-Eye:before {
  content: "\f22f";
}
.io-NoConnection:before {
  content: "\f22e";
}
.io-Binoculars:before {
  content: "\f22d";
}
.io-NoEntry:before {
  content: "\f22c";
}
.io-Hourglass:before {
  content: "\f22b";
}
.io-Speedo:before {
  content: "\f22a";
}
.io-House:before {
  content: "\f229";
}
.io-Keyboard:before {
  content: "\f228";
}
.io-Refresh:before {
  content: "\f227";
}
.io-PlusOne:before {
  content: "\f226";
}
.io-Soport:before {
  content: "\f225";
}
.io-TravelAbroad:before {
  content: "\f224";
}
.io-TutsGuias:before {
  content: "\f223";
}
.io-PayTelcel:before {
  content: "\f222";
}
.io-MyTelcel:before {
  content: "\f21f";
}
.io-AppTelcel:before {
  content: "\f21e";
}
.io-InternetTelcel:before {
  content: "\f21d";
}
.io-HelpTuts:before {
  content: "\f21c";
}
.io-Document:before {
  content: "\f21b";
}
.io-Contact:before {
  content: "\f21a";
}
.io-TengoPlan:before {
  content: "\f219";
}
.io-NoTengoPlan:before {
  content: "\f218";
}
.io-RechargeBalance:before {
  content: "\f217";
}
.io-ConsultBalance:before {
  content: "\f216";
}
.io-TengoAmigo:before {
  content: "\f215";
}
.io-NoTienesAmigo:before {
  content: "\f214";
}
.io-PromoBenefits:before {
  content: "\f213";
}
.io-CirculoAzulPoints:before {
  content: "\f212";
}
.io-FAQPurchase:before {
  content: "\f211";
}
.io-FAQMyInternet:before {
  content: "\f210";
}
.io-FAQInternet:before {
  content: "\f20f";
}
.io-FAQSolutions:before {
  content: "\f20e";
}
.io-FAQServices:before {
  content: "\f20d";
}
.io-FAQPromotions:before {
  content: "\f20c";
}
.io-FAQPlan:before {
  content: "\f20b";
}
.io-FAQHardware:before {
  content: "\f20a";
}
.io-FAQTravelAbroad:before {
  content: "\f209";
}
.io-FAQAmigo:before {
  content: "\f208";
}
.io-Sim:before {
  content: "\f207";
}
.io-Heart:before {
  content: "\f206";
}
.io-500Cart:before {
  content: "\f205";
}
.io-CreditCard:before {
  content: "\f204";
}
.io-Month:before {
  content: "\f203";
}
.io-Week:before {
  content: "\f202";
}
.io-GloboTelcel:before {
  content: "\f201";
}
.io-Wheelchair:before {
  content: "\f200";
}
.io-TriangleRight:before {
  content: "\f10d";
}
.io-TriangleLeft:before {
  content: "\f10c";
}
.io-TriangleDown:before {
  content: "\f10b";
}
.io-TriangleUp:before {
  content: "\f10a";
}
.io-AccordionRightNeg:before {
  content: "\f109";
}
.io-AccordionLeftNeg:before {
  content: "\f108";
}
.io-AccordionRight:before {
  content: "\f107";
}
.io-AccordionLeft:before {
  content: "\f106";
}
.io-AccordionDownNeg:before {
  content: "\f105";
}
.io-AccordionUpNeg:before {
  content: "\f104";
}
.io-AccordionDown:before {
  content: "\f103";
}
.io-AccordionUp:before {
  content: "\f102";
}
.io-SliderRight:before {
  content: "\f101";
}
.io-SliderLeft:before {
  content: "\f100";
}
.io-Alert2:before {
  content: "\f02a";
}
.io-Alert:before {
  content: "\f029";
}
.io-MoneyNeg:before {
  content: "\f028";
}
.io-Money:before {
  content: "\f027";
}
.io-More:before {
  content: "\f025";
}
.io-Less:before {
  content: "\f024";
}
.io-Guide:before {
  content: "\f023";
}
.io-PDF:before {
  content: "\f022";
}
.io-Update:before {
  content: "\f021";
}
.io-Warning:before {
  content: "\f020";
}
.io-Question:before {
  content: "\f01f";
}
.io-List:before {
  content: "\f01e";
}
.io-Grid:before {
  content: "\f01d";
}
.io-Close:before {
  content: "\f01c";
}
.io-Share:before {
  content: "\f01b";
}
.io-Download:before {
  content: "\f01a";
}
.io-Print:before {
  content: "\f019";
}
.io-PadlockClosed:before {
  content: "\f018";
}
.io-PadlockOpen:before {
  content: "\f017";
}
.io-HalfStar:before {
  content: "\f016";
}
.io-Star:before {
  content: "\f015";
}
.io-DontLikeNeg:before {
  content: "\f014";
}
.io-LikeNeg:before {
  content: "\f013";
}
.io-DontLike:before {
  content: "\f012";
}
.io-Like:before {
  content: "\f011";
}
.io-TickNeg:before {
  content: "\f010";
}
.io-Tick:before {
  content: "\f00f";
}
.io-EmailNeg:before {
  content: "\f00e";
}
.io-GooglePlusNeg:before {
  content: "\f00d";
}
.io-PinterestNeg:before {
  content: "\f00c";
}
.io-YouTubeNeg:before {
  content: "\f00b";
}
.io-TwitterNeg:before {
  content: "\f00a";
}
.io-FacebookNeg:before {
  content: "\f009";
}
.io-MobliNeg:before {
  content: "\f008";
}
.io-Email:before {
  content: "\f007";
}
.io-GooglePlus:before {
  content: "\f006";
}
.io-Pinterest:before {
  content: "\f005";
}
.io-HolaTelcel:before {
  content: "\f004";
}
.io-YouTube:before {
  content: "\f003";
}
.io-Twitter:before {
  content: "\f002";
}
.io-Facebook:before {
  content: "\f001";
}
.io-Mobli:before {
  content: "\f000";
}
