body .tokenfield--auto .tokenfield{
	margin-bottom: 5px;
	min-height: auto;
}
body #info-content .form-section-block .motivos-autogestion-container .data-write label{
	-webkit-align-items: start;
	-moz-align-items: start;
	align-items: start;
}
.data-write__dsc{
	color: #777;
	font-size: 14px;
	font-weight: 300;
}
